@font-face{
	font-family: 'normal';
	src: url("../fonts/CaviarDreams.ttf");
}


/*=============================================================
			Nav
=============================================================*/

nav li{
	padding-top:23px;
	padding-bottom:25px;
}

nav {
	font-size: 30px;
}


nav.navbar.navbar-default{
	margin-bottom:0px;
	border: none;
	padding-right:10px;
}

.navbar-default .navbar-nav>li>a{
	color:white;
}

.navbar-default{
	background-color:#FE7E00;
	border-radius:0px;
	font-family:normal;
}


/*accent*/
.accent {
	background-color:#E36E14;
	height:6px;
}
.row {
	margin-right:0px;
}

/*left*/
a.navbar-brand {
	padding-right:0px
}

a.navbar-brand img{
	height:35px;
	margin-left:50px;
	margin-top:18px;
	background-color:white;
	border-radius:100%;
}

.navbar-left>li>a{
	padding-left:5px;
}
nav sup{
	font-size: 15px;
}

/* end left*/


/*===============================================================
				Searchbar
==================================================================*/

.searchBar button{
	background-color:#F0EEEF;
	border:0px;
	border-radius:0px;
	box-shadow:none;
	opacity: 0.4;
	
}

.form-control {
	background-color:#F0EEEF;
	border:0px;
	border-radius:0px;
	box-shadow:none;
}
div.searchBar{
	background-color:#F0EEEF;
	margin-right:30px;
}


/*====================================================================
						Main Section
=========================================================================*/

.mainSection {
	font-size:40px;
	color:#FE7E00;
	font-family:normal;
	margin-top:70px;
}
.mainSection sup{
	font-size:25px;
}
span {
	color:#7ACBC8;
}

.mainSection .paragraph {
	margin-top:20px;
}

.mainSection img{
	size:70%;
}

/*buttons*/

button.orange {
	background-color:#E36E14;
}

button.blue {
	background-color:#7ACBC8;
}

button.blue, button.orange {
	box-shadow:none;
	border:none;
	color:white;
	font-size:15px;
	margin-right: 30px;
	padding: 10px 65px 10px 65px;
	margin-top:30px;

}

/*====================================================================
						footer
=========================================================================*/	
.footer {
	height:100px;
	background-color:#7ACBC8;
	bottom:0;
	margin-top:80px;
	width:100%;
}






	 