body {
	margin:0px;
	
}

/*font links*/
@font-face {
	font-family: 'Caviar';
	src: url("../fonts/CaviarDreams.ttf");
}


@font-face {
	font-family: 'CaviarBold';
	src: url("../fonts/CaviarDreams_Bold.ttf");
}

/*font styles*/

.nav-left span {
	font-family: 'CaviarBold';
	margin: 0px;
	padding:0px;
}
.nav-left p {
	font-family: 'Caviar';
	margin:0px;
	padding:0px;
}

.nav-right li {
	font-family: 'Caviar';
}
.text p {
	font-family: 'Caviar';
	color: #fe7d00;
}
.text span {
	font-family: 'CaviarBold';
}

.blue {
	color:#7accc8;
}

button {
	font-family: 'CaviarBold';
}

/*navigation bar*/
.navigation-bar {
	background-color:#fe7d00;
	height: 100px;
}
.navigation-bar div{
	display:inline;
	margin:50px;
}

.nav-left img {
	width:25px; 
	height:25px;
	margin-top:0px; 
	background-color: white; 
	border-radius: 50%;
}

.nav-left p{
	display:inline-block;
	float:left;
	color: white;
	font-size:35px;
	padding:25px;
	margin-left:100px;
	margin-top:5px;

}



.nav-right li{
	display: inline-block;
	float:right;
	color:white;
	font-size:25px;
	padding:25px;
	margin-top:10px;
}

.nav-right a {
	text-decoration:none;
	color:white;

}

.navigation-accent {
	background-color:#e66e12;
	height: 5px;
}

/*search bar*/

.search {
	float:right;
	margin:5px;
	border:none;
	background-color: #EEEEEE;
	margin-right: 45px;
	padding-left: 20px;
	height:60px;
	width:240px;

	

}
/*page center*/


.center img{
	float: left;
	padding-right: 60px;
	padding-left:100px;

}

.center p  {
	margin:20px;
	font-size: 40px;
	padding-top:5px;

}

.center {
	margin-top:150px;
}
.text {
	margin: 25px;

}

/*buttons*/

button {
	border:none;
	text-align:center;
	font-size: 20px;
	color:white;
	display:inline-block;
	height:60px;
	width:240px;
	margin-right:30px;
	cursor:pointer;
	margin-top:15px;

}

.orangebutton {
	background-color:#fe7d00;

}
.bluebutton {
	background-color:#7accc8;
}

/* page footer*/
.footer {
	background-color: #7accc8;
    padding:58px;
    text-align: center;
    margin-top:119px;
    display:inline block;
}

